# Ignore Gradle project-specific cache directory
backend/.gradle

# Ignore Gradle build output directory
backend/build

backend/.idea

backend/.vscode

backend/secretkey

backend/app/src/main/java/com/anywhere/firebase/FirebaseConfig.java