# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
app/build

app/bin

.idea

.vscode

secretkey

app/src/main/java/com/anywhere/firebase/FirebaseConfig.java